/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
  }
  
/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f5f5dc;
    padding: 20px;
  }

.custom-text {
    font-size: 20px;
    color: red;
}

code {
    background-color: #f5f5f5 !important;
    /*font-family: 'sans serif'!important;*/
    font-size: 20px !important;
    color: darkorange !important;
    padding: 2px !important;
    border-radius: 3px !important;
}

/*section[data-testid='stSidebar'] {
  background-color: #111;
  min-width:unset !important;
  width: unset !important;
  flex-shrink: unset !important;
  
}

button[kind="header"] {
  background-color: transparent;
  color:rgb(180, 167, 141)
}

@media(hover){
  /* header element to be removed */
  /*header[data-testid="stHeader"] {
      display:none;
  }

  /* The navigation menu specs and size */
  /*section[data-testid='stSidebar'] > div {
      height: 100%;
      width: 95px;
      position: relative;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #5a5a5a;
      overflow-x: hidden;
      transition: 0.3s ease;
      padding-top: 60px;
      white-space: nowrap;
  }

  /* The navigation menu open and close on hover and size */
  /* section[data-testid='stSidebar'] > div {
  height: 100%;
  width: 75px; /* Put some width to hover on. */
  /* } 

  /* ON HOVER */
  /*section[data-testid='stSidebar'] > div:hover{
  width: 300px;
  }

  /* The button on the streamlit navigation menu - hidden */
  /*button[kind="header"] {
      display: none;
  }
}
   
@media(max-width: 272px){
  
  section[data-testid='stSidebar'] > div {
      width:15rem;
  }
} */


/* Hide Streamlit branding */
#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}